<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centro Comunitário</title>
  </head>
  <body>
    <div class="wrapper">
      <form action="">
        <h1>Inicio de Sessão</h1>
        <div class="input-box">
          <input type="Email" placeholder="Email" required />
          <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
          <input type="password" placeholder="Palavra-Passe" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <div class="remember-forgot">
          <label><input type="checkbox" />Lembrar</label>
          <a href="#">Esqueceu Palavra-Passe</a>
        </div>

        <button class="btn">Iniciar Sessão</button>
      </form>
      <div class="img-container"></div>
    </div>
  </body>
</html>
