<h1 mat-dialog-title class="text-center">Atualiazação 1.0.0</h1>
<mat-dialog-content class="mat-typography">
<h2 class="font-weight-bold">Dashboard</h2>
<span>
  - Visualização Geral de faturamento anual, mensal e diário;
  <br>
  - Visualização das faturas que foram inseridas recentemente.
</span>
<h2 class="font-weight-bold">Faturação</h2>
<span>
  - Gráfico detalhado sobre o faturamento de cada mês;
  <br>
  - Visualização detalhada de cada categoria;
  <br>
  - Visualização detalhada de cada fatura/recibo;
  <br>
  - Inserção de faturas por via PDF.
</span>
<h2 class="font-weight-bold">Faturas</h2>
<span>
  - Armazenamento em pastas por Ano-Mês-Empresa de faturas passadas;
</span>
<h2 class="font-weight-bold">Stock</h2>
<span>
  - Visualização e inserção da quantidade de produtos disponiveis.
</span>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>