<div class="higienes-container">
    <h1 class="m-2 text-center">Higienes Pessoais</h1>
    <button class="btn btn-success m-2" (click)="openHigienesDialog()">
      Nova Fatura
    </button>
    <div class="mat-elevation-z8 m-2">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="data">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Data"
          >
            Data
          </th>
          <td mat-cell *matCellDef="let element">{{ element.data }}</td>
        </ng-container>
  
        <ng-container matColumnDef="empresa">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Empresa"
          >
            Empresa
          </th>
          <td mat-cell *matCellDef="let element">{{ element.empresa }}</td>
        </ng-container>
  
        <ng-container matColumnDef="valorTotal">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Montante íliquido"
          >
            Valor Total
          </th>
          <td mat-cell *matCellDef="let element">{{ element.valorTotal | currency : "EUR" : "symbol" }} </td>
        </ng-container>
  
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="btn btn-danger btn-sm" (click)="remove(element)">
              <i class="bx bx-trash"></i>
            </button>
            <button mat-icon-button class="btn btn-primary btn-sm" (click)="openView(element)">
              <i class='bx bx-edit'></i>
            </button>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
  
      <mat-paginator
        [pageSizeOptions]="[10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  