<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <app-navbar></app-navbar>
  </mat-drawer>
<mat-drawer-content>
  <div style="text-align: center; min-height: 900px">
    <body>
      <div class="container">
        <div class="canvas">
          <h1>Faturação Geral</h1>
          <canvas #Canvas> </canvas>
        </div>
      </div>

      <div style="text-align: center; min-height: 900px">
        <body>
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Cozinha</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{ totalFaturacaoCozinha | currency : "EUR" : "symbol" }}
                    </p>
                    <button
                      (click)="openCozinhaDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Convívio</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{ totalFaturacaoConvivio | currency : "EUR" : "symbol" }}
                    </p>
                    <button
                      (click)="openConvivioDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Transportes</h1>
                    <p class="card-text">
                      Faturação mensal:{{
                        totalFaturacaoTransportes | currency : "EUR" : "symbol"
                      }}
                    </p>
                    <button
                      (click)="openTransportesDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Administrativos</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{
                        totalFaturacaoAdministrativos
                          | currency : "EUR" : "symbol"
                      }}
                    </p>
                    <button
                      (click)="openAdministrativosDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Lavandaria</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{
                        totalFaturacaoLavandaria | currency : "EUR" : "symbol"
                      }}
                    </p>
                    <button
                      (click)="openLavandariaDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Higiene Pessoal</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{ totalFaturacaoHigienes | currency : "EUR" : "symbol" }}
                    </p>
                    <button
                      (click)="openHigienePessoalDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Serviços Comuns</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{
                        totalFaturacaoServicosComuns
                          | currency : "EUR" : "symbol"
                      }}
                    </p>
                    <button
                      (click)="openServicosComunsDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mb-4">
                <div class="card" style="width: 26rem">
                  <div class="card-body">
                    <h1 class="card-title">Recursos Humanos</h1>
                    <p class="card-text">
                      Faturação mensal:
                      {{
                        totalFaturacaoRecursosHumanos
                          | currency : "EUR" : "symbol"
                      }}
                    </p>
                    <button
                      (click)="openRecursosHumanosDialog()"
                      class="btn btn-primary"
                    >
                      Detalhes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </body>
      </div>
    </body>
  </div>
</mat-drawer-content>
</mat-drawer-container>
