/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: rgb(43, 50, 158);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mat-drawer {
  position: fixed;
  top: 64px;
  bottom: 0;
  z-index: 999;
}

.mat-drawer-content {
  padding-top: 64px;
  overflow-y: auto;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.separator {
  margin: 16px 0;
  font-weight: bold;
}

button {
  width: 100%;
}

.canvas {
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
