.mat-drawer-container {
  transition: margin-left 0.3s ease;
}

.mat-drawer.mat-drawer-side {
  transition: width 0.3s ease;
}

.mat-drawer-content {
  margin: 65px;
  transition: margin-left 0.3s ease;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.separator {
  margin: 16px 0;
  font-weight: bold;
}

button {
  width: 100%;
}

.canvas {
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
