<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <app-navbar></app-navbar>
  </mat-drawer>

  <mat-drawer-content>
    <div style="text-align: center; min-height: 900px">
      <body>
        <div class="container">
          <button class="btn btn-primary m-4" (click)="openNovoProdutoDialog()">
            Adicionar Novo Produto
          </button>
        </div>

        <div class="container">
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('todos')"
          >
            Todos
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('EPI Higienes')"
          >
            EPI Higienes
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Cozinha')"
          >
            Cozinha
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Frescos')"
          >
            Frescos
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Despença')"
          >
            Despença
          </button>

          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Despença Alimentar')"
          >
            Despença Alimentar
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Refrigeração')"
          >
            Refrigeração
          </button>
          <button
            class="btn btn-outline-info m-2"
            (click)="filterProducts('Congelação')"
          >
            Congelação
          </button>
        </div>

        <div class="container text-center">
          <div class="row">
            <div
              class="col-md-3"
              *ngFor="let item of produtos | async; let i = index"
            >
              <div class="card mb-4 text">
                <img
                  class="card-img-top"
                  src="{{ item.img }}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h2 class="card-title text-center">{{ item.nome }}</h2>
                  <h2 class="card-title text-center">{{ item.tipo }}</h2>
                  <input
                    type="number"
                    class="form-control sm text-center"
                    [(ngModel)]="item.quantidade"
                    (ngModelChange)="
                      updateQuantidade(item.nome, item.quantidade)
                    "
                  />
                  <div class="text-center">
                    <button
                      class="btn btn-success m-2"
                      (click)="addQuantidade(item)"
                    >
                      +
                    </button>
                    <button
                      class="btn btn-danger m-2"
                      (click)="removeQuantidade(item)"
                    >
                      -
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
