<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <app-navbar></app-navbar>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center">
      <section class="home-section">
        <div class="home-content">
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Total Gasto Anual</div>
                <div class="number">{{totals. yearlyTotal | currency : "EUR" : "symbol"}}</div>
                <div class="indicator">
                </div>
              </div>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Total Gasto Mensal</div>
                <div class="number">{{totals. monthlyTotal | currency : "EUR" : "symbol"}}</div>
                <div class="indicator">
                </div>
              </div>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Total Gasto Semanal</div>
                <div class="number">{{totals. weeklyTotal | currency : "EUR" : "symbol"}}</div>
                <div class="indicator">
                </div>
              </div>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Total Gasto Diário</div>
                <div class="number">{{totals. dailyTotal | currency : "EUR" : "symbol"}}</div>
                <div class="indicator">
                </div>
              </div>
            </div>
          </div>

          <div class="tabelas-faturacao">
            <div class="ultimascompras box">
              <div class="title">Últimas Faturas</div>
              <div class="ultimascompras-details">
                <ul class="details">
                  <li class="topic">Data</li>
                  <li *ngFor="let purchase of recentFaturas">{{ purchase.data}}</li>
                </ul>
                <ul class="details">
                  <li class="topic">Empresa</li>
                  <li *ngFor="let purchase of recentFaturas">{{ purchase.empresa}}</li>
                </ul>
                <ul class="details">
                  <li class="topic">Montante</li>
                  <li *ngFor="let purchase of recentFaturas">{{ purchase.valorTotal | currency : "EUR" : "symbol" }}</li>
                </ul>
              </div>
              <div class="button">
                <a routerLink="[/faturacao]">Ver Tudo</a>
              </div>
            </div>

            <div class="faturacaoanual">
              <div class="title">Faturação Anual</div>
              <div class="faturcaoanual-details">
                <ul class="details">
                  <li class="topic">Mês</li>
                  <li *ngFor="let mes of meses">{{ mes }}</li>
                </ul>
            
                <ul class="details">
                  <li class="topic">Montante</li>
                  <li *ngFor="let montante of totaisMensais">{{ montante | currency : "EUR" : "symbol" }}</li>
                </ul>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
